* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

body {
    background: #333;
    color: white
}

#stats {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

.row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.row span {
    font-size: 1.2em
}

.row:nth-child(even) {
    background: red
}

.row:nth-child(2n + 3) {
    background: white
}

.row:nth-child(2n + 3) span {
    color: black;
}

.row.header {
    font-weight: bolder;
    font-size: 2em;
}

.row span {
    color: white;
}






@media (min-width: 768px) {
    main {
        width: 40vw;
        margin: auto;
    }
}